/* CSS Here */

.pageheader {
    display: flex;
    justify-content: center;
    background: rgb(255, 255, 0);
    opacity: .8;
    height: 7rem;
    padding: 1rem;
    z-index: 50;
    border-radius: 30px;
}

#formcontainer {
    padding: 1rem;
    width: stretch;
    height: auto;
    display: none;
    background: red;
    opacity: .8;
    z-index: 5;
  }

  #addquestion {
    position:relative;
    float: right;
    z-index: 10;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #currentquestion {
    
      width: 40rem;
      height: 30rem;
      background-color: rgba(255, 0, 0, 0.51);
      display: flex;
      flex-direction: column;
      align-items: center;
      /* justify-content: space-around; */
      border-radius: 30px;
      margin:auto;
      margin-top: 15px;
  
    /* position: absolute;
    width: 600px;
    height: 400px;
    z-index: 15;
    top: 65%;
    left: 50%;
    margin: -100px 0 0 -300px;
    display: flex;
    justify-content: center;
    background: rgba(255, 0, 0, 0.288);
    border-radius: 10px; */
    
  }
  
#question-section {
    text-align: center; 
}

#category-title {
    font-size: 1.5em; 
    margin-bottom: 10px; 
    font-family: sans-serif, Arial; 
    color: #333333;
}

#image-container {
    border: 2px solid black; 
    width: 270px; 
    height: 160px; 
    padding: 10px;
    display: inline-block;
}

#category-image {
    width: 250px;
    height: 150px;
    object-fit: cover;
}



  #nextquestion {
    position:relative;
    margin: auto;
    float: right;
    
   
    /* margin: -100px 0 0 -300px; */

  }

  .input-text {
    border-radius: 5px;
    height: 2rem;
    width: 60%;
    font-size: 14px;
    margin: 3px;
  }

  .forminputs{
    font-size: 18px;
    color: white
  }

  #formcontainer {
    border-radius: 10px;
  }

  .responsebutton {
   width:500px;
   height:80px;
   margin-bottom: 10px;
   background-color: rgba(255, 255, 0, 0.9);
   border-radius: 5px ;
   border-color: rgba(255, 255, 0, 0.9);
   font-size: 24px;
  }

  .displayquestion {
    color: black;
    font-family: monospace;
    font-size: 28px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right:10px;
   
  }

  .pagebutton {
    width: 150px;
    height: 50px;
    background-color: blue;
    color: white;
    margin-top: 10px;
    border-radius: 10px;
    border-color: blue;
  }

  .filter  {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .filterbutton {
    width: 150px;
    margin-bottom: 10px;
  }

  #counter {
    font-size: 72px;
    font-family: monospace;
    color: blue;
    
  }

  #streak {
    font-size: 48px;
    font-family: monospace;
    text-decoration: underline;
    margin-bottom: 25px;
    margin-top: -1px;
  }

  #countercontainer {
    border: 5px solid black;
    width: 250px;
    height: 200px;
    text-align: center;
    margin: auto;
    float: right;
    
  }

  #currentquestion {
    
    width: 40rem;
    height: 30rem;
    background-color: rgba(255, 0, 0, 0.51);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    margin: auto;
    /* margin-top: 15px; */
  
} 
